<%= form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= invoice.errors.count %>件のエラー:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-left">
      <ul>
          <li><span><%= f.label "お客様名:" %></span>
              <%= f.text_field :customer, { class: "form-control"} %>
          </li>
          <li><span><%= f.label "チェックアウト日:" %></span>
              <%= f.text_field :checkoutday, { class: "form-date datepicker"} %>
          </li>
          <li><span><%= f.label "宿泊数:" %></span>
              <%= f.number_field :stays, { class: "form-number"} %>
          </li>
          <li><span><%= f.label "人数－－－大人:" %></span>
              <%= f.number_field :adults, { class: "form-number"} %>
          </li>
          <li><span><%= f.label "子供:" %></span>
              <%= f.number_field :childs, { class: "form-number"} %>
          </li>
      </ul>
  </div>

  <div class="form-right">
      <% @rooms.order(:name).each do |room| %>
       <label class="roomlist"><%= f.radio_button :room_id, room.id %><%= room.name %></label>
      <% end %>
  </div>


  <div id="tables">
    <div class="addrow">新しい行を追加：
       <%= f.add_nested_fields_link :billingdetails, '追加', class: 'addbtn', role: 'button' %>
    </div>
    <table id="tbl" class="tuika">
        <thead>
            <tr>
                <th>日付</th>
                <th>商品種類</th>
                <th>中分類</th>
                <th>商品名</th>
                <th>単価</th>
                <th>数量</th>
                <th>金額</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
             <%= f.nested_fields_for :billingdetails, wrapper_tag: :tr do |b| %>
                <td style="text-align:center; width:15%">
                  <%= b.date_field :productdate, class: 'form-date2' %>
                </td>
                <td style="text-align:center; width:15%">
                  <%= b.collection_select :productcategory_id, Productcategory.all, :id, :name, {:prompt => true}, class: 'form-select2', onchange: 'selectcategory(this)' %>
                </td>
                <td style="text-align:center; width:15%">
                  <%= b.collection_select :producttype_id, @types, :id, :name, {:prompt => true}, class: 'form-select2', onchange: 'selecttype(this)' %>
                </td>
                <td style="text-align:center; width:15%">
                  <%= b.collection_select :productname, @products, :name, :name, {:prompt => true}, class: 'form-select2' %>
                </td>
                <td style="text-align:center; width:10%">
                  <%= b.text_field :productprice, class: 'form-price2 product_price', onchange: 'totalchange(this)' %>
                </td>
                <td style="text-align:center; width:8%">
                  <%= b.number_field :productnb, class: 'form-number2 product_nb', onchange: 'totalchange(this)' %>
                </td>
                <td style="text-align:center; width: 17%">
                  <%= b.text_field :total, class: 'form-price2 product_total' %>
                </td>
                <td style="text-align:center; width: 5%">
                  <%= b.remove_nested_fields_link '×', class: 'delbtn', role: 'button' %>
                </td>
                <%= b.hidden_field :user_id, :value => params[:user_id] %>
             <% end %>
        </tbody>
    </table>
  </div>


  <div class="form-left">
      <ul>
<!--
        <li><span>%= f.label "宿泊料金:" %></span>
        %= f.text_field :roomfee, { class: "form-price"} %>円</li>
        </li>
-->
        <li><span><%= f.label "総合計:" %></span>
        <%= f.text_field :sototal, { class: "sototal"} %>円</li>
      </ul>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn edit-btn" %>
  </div>
<% end %>

<!--%= javascript_tag do %>-->
<script language="JavaScript">
  //カレンダー表示
  $(document).ready(function(){
    $(".datepicker").datepicker({
      dateFormat: 'yy/mm/dd (D)'
    });
  });


  //単価×数量の自動計算
  function totalchange(obj) {
    var objTR = obj.parentNode.parentNode;
    var idx = objTR.sectionRowIndex;
    var tr = $("#tbl tbody tr");
    var cells = tr.eq(idx);
    var len = tr.length - 1;

    var price = $("#invoice_billingdetails_attributes_" + idx + "_productprice").val();
    var nb = $("#invoice_billingdetails_attributes_" + idx + "_productnb").val();
    var total = price * nb;

    //金額表示
    $("#invoice_billingdetails_attributes_" + idx + "_total").val(total);

    var sum = 0;
    for (var i = 0; i <= len; i++){
        price = $("#invoice_billingdetails_attributes_" + i + "_productprice").val();
        nb = $("#invoice_billingdetails_attributes_" + i + "_productnb").val();
        total = price * nb;

        sum = sum + total;
    }
      //総合計表示
      $("#invoice_sototal").val(sum);
  };


  //プルダウン連動
  function selectcategory(obj) {
    var objTR = obj.parentNode.parentNode;
    var idx = objTR.sectionRowIndex;
    var category_id = $("#invoice_billingdetails_attributes_" + idx + "_productcategory_id").val();
    $.get("<%= invoices_category_select_path %>",
        {idx: idx, category_id: category_id },
        function(data){}
      );
  };

  function selecttype(obj) {
    var objTR = obj.parentNode.parentNode;
    var idx = objTR.sectionRowIndex;
    var category_id = $("#invoice_billingdetails_attributes_" + idx + "_productcategory_id").val();
    var type_id = $("#invoice_billingdetails_attributes_" + idx + "_producttype_id").val();
    $.get("<%= invoices_type_select_path %>",
        {idx: idx, category_id: category_id, type_id: type_id },
        function(data){}
      );
  };

</script>
<!--% end %>-->