<p id="notice"><% notice %></p>

<h1>領収書発行履歴</h1>
<%= search_form_for @q do |f| %>
 <span id="displaymm">
      <!--  初期データは今月  -->
      <% if @nengetu.nil? %>
        <%= Date.today.strftime("%Y年%m月分") %>
        <% @invoices = Invoice.where("checkoutday like '%" + Date.today.strftime("%Y/%m") + "%'").where(user_id: params[:user_id]) %>
      <% else %>
        <% date = params[:q][:checkoutday_cont] %>
        <!--  検索年月が空白の場合、すべてのデータが表示  -->
        <% if date.empty? %>
          <%= "　全データ分　" %>
        <% else %>
          <%= date[0..3] + "年" + date[5..6] + "月分" %>
        <% end %>
      <% end %>
 </span>
 <span id="searchmm">
      <%= f.label :checkoutday_cont, "検索年月:" %>
      <%= f.search_field :checkoutday_cont, class: 'search-date', maxlength: 7, placeholder: 'yyyy/mm' %>
<!--      %= f.submit class: 'searchbtn' %>-->
      <!--検索-->
      <button type="submit" class="searchbtn" id="form_id" onclick="serchclick()">検索</button>
      <!--CSV出力-->
      <button type="submit" name="format" value="csv" class="searchbtn">CSV </button>
 </span>
<% end %>

<table class="datalist" style="width:100%;">
  <thead>
    <tr>
      <th class="i_customer">お客様名</th>
      <th class="i_checkoutday">ﾁｪｯｸｱｳﾄ日</th>
      <th class="i_stays">泊数</th>
      <th class="i_adults">大人</th>
      <th class="i_childs">小人</th>
      <th class="i_roomname">部屋名</th>
      <th class="i_sototal">総合計</th>
      <th class="i_print"></th>
      <th class="i_edit"></th>
      <th class="i_destroy"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td class="i_customer" style="text-align:left;"><%= invoice.customer %></td>
        <td class="i_checkoutday" style="text-align:left;"><%= invoice.checkoutday %></td>
        <td class="i_stays" style="text-align:right;"><%= invoice.stays %></td>
        <td class="i_adults" style="text-align:right;"><%= invoice.adults %></td>
        <td class="i_childs" style="text-align:right; "><%= invoice.childs %></td>
        <td class="i_roomname" style="text-align:left;"><%= invoice.room.name %></td>
        <td class="i_sototal" style="text-align:right;"><%= number_with_delimiter(invoice.sototal.floor) %></td>
        <td class="i_print"><%= link_to '印刷', invoice %></td>
        <td class="i_edit"><%= link_to '編集', edit_invoice_path(invoice) %></td>
        <td class="i_destroy"><%= link_to '削除', invoice, method: :delete, data: { confirm: '削除してもよろしいですか？' }  %></td
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to '領収書を作成する', new_invoice_path, class: "newbtn" %>
