<p id="notice"><% notice %></p>

<h1>領収書発行履歴</h1>

<table class="datalist">
  <thead>
    <tr>
      <th>お客様名</th>
      <th>ﾁｪｯｸｱｳﾄ日</th>
      <th>泊数</th>
      <th>大人</th>
      <th>小人</th>
      <th>部屋名</th>
      <th>総合計</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td style="text-align:left; width:18%;"><%= invoice.customer %></td>
        <td style="text-align:left; width:16%;"><%= invoice.checkoutday %></td>
        <td style="text-align:right; width:7%;"><%= invoice.stays %></td>
        <td style="text-align:right; width:7%;"><%= invoice.adults %></td>
        <td style="text-align:right; width:7%;"><%= invoice.childs %></td>
        <td style="text-align:left;width:14%;"><%= invoice.room.name %></td>
        <td style="text-align:right; width:10%;"><%= number_with_delimiter(invoice.sototal.floor) %></td>
        <td style="text-align:center; width:7%;"><%= link_to '印刷', invoice %></td>
        <td style="text-align:center; width:7%;"><%= link_to '編集', edit_invoice_path(invoice) %></td>
        <td style="text-align:center; width:7%;"><%= link_to '削除', invoice, method: :delete, data: { confirm: '削除してもよろしいですか？' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '領収書発行', new_invoice_path %>
