<% if user_signed_in? %>
    <h1><%= current_user.name %> さん、こんにちは！</h1>
    <% wdays = ["日", "月", "火", "水", "木", "金", "土"] %>
    <h2><%= Date.today.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[Date.today.wday]})") %></h2>
    

    <div class="recommend-entry">
        <div class="recommend_title">
            <span>今月の売上</span>
        </div>
        <p>
          請求書データ:　<%= @invoices.count %>件<br>
          売上合計:　<%= number_with_delimiter(@invoices.sum(:sototal).floor) %>円
        </p>
    </div>
    <div class="recommend-entry">
        <div class="recommend_title">
            <span>登録件数</span>
        </div>
        <p>
          請求書データ:　<%= current_user.invoices.count %>件<br>
          商品登録:　<%= current_user.products.count %>件<br>
          部屋登録:　<%= current_user.rooms.count %>件
        </p>
    </div>
    <div style="clear: both"></div>
<% else %>
    <h1>Webフロント会計システム</h1>
<% end %>