<p id="notice"><% notice %></p>

<h1>登録部屋一覧</h1>

<table class="datalist">
  <thead>
    <tr>
      <th>部屋名</th>
      <th>Ａ</th>
      <th>Ｂ</th>
      <th>Ｃ</th>
      <th>Ｄ</th>
      <th>Ｅ</th>
      <th>Ｆ</th>
      <th>人数</th>
      <th>タイプ</th>
<!--      <th>User</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td style="text-align:left; width:21%;"><%= room.name %></td>
        <td style="text-align:right; width:8%;"><%= number_with_delimiter(room.price1.floor) %></td>
        <td style="text-align:right; width:8%;"><%= number_with_delimiter(room.price2.floor) %></td>
        <td style="text-align:right; width:8%;"><%= number_with_delimiter(room.price3.floor) %></td>
        <td style="text-align:right; width:8%;"><%= number_with_delimiter(room.price4.floor) %></td>
        <td style="text-align:right; width:8%;"><%= number_with_delimiter(room.price5.floor) %></td>
        <td style="text-align:right; width:8%;"><%= number_with_delimiter(room.price6.floor) %></td>
        <td style="text-align:right; width:7%;"><%= room.peoplenb %></td>
        <td style=" width:10%;"><%= room.roomtype.name %></td>
<!--        <td>%= link_to 'Show', room %></td>-->
        <td style="text-align:center; width:7%;"><%= link_to '編集', edit_room_path(room) %></td>
        <td style="text-align:center; width:7%;"><%= link_to '削除', room, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '部屋の登録', new_room_path %>
