<p id="notice"><% notice %></p>

<p>
  <strong>部屋名:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>平日:</strong>
  <%= number_with_delimiter(@room.price1.floor) %>
</p>

<p>
  <strong>金曜日:</strong>
  <%= number_with_delimiter(@room.price2.floor) %>
</p>

<p>
  <strong>土曜日:</strong>
  <%= number_with_delimiter(@room.price3.floor) %>
</p>

<p>
  <strong>日曜日:</strong>
  <%= number_with_delimiter(@room.price4.floor) %>
</p>

<p>
  <strong>祝日前:</strong>
  <%= number_with_delimiter(@room.price5.floor) %>
</p>

<p>
  <strong>祝日:</strong>
  <%= number_with_delimiter(@room.price6.floor) %>
</p>

<p>
  <strong>宿泊人数:</strong>
  <%= @room.peoplenb %>
</p>

<p>
  <strong>部屋タイプ:</strong>
  <%= @room.roomtype_id %>
</p>

<!--
<p>
  <strong>User:</strong>
  %= @room.user_id %>
</p>
-->

<%= link_to '編集画面', edit_room_path(@room) %> |
<%= link_to '部屋一覧表示へ', rooms_path %>

