<p id="notice"><% notice %></p>

<h1>部屋データの確認</h1>

<table class="tabletype">
    <tr>
      <th scope="row">部屋名:</th>
      <td><%= @room.name %></td>
    </tr>
    <tr>
      <th scope="row">Ａ:</th>
      <td><%= number_with_delimiter(@room.price1.floor) %>円</td>
    </tr>
    <tr>
      <th scope="row">Ｂ:</th>
      <td><%= number_with_delimiter(@room.price2.floor) %>円</td>
    </tr>
    <tr>
      <th scope="row">Ｃ:</th>
      <td><%= number_with_delimiter(@room.price3.floor) %>円</td>
    </tr>
    <tr>
      <th scope="row">Ｄ:</th>
      <td><%= number_with_delimiter(@room.price4.floor) %>円</td>
    </tr>
    <tr>
      <th scope="row">Ｅ:</th>
      <td><%= number_with_delimiter(@room.price5.floor) %>円</td>
    </tr>
    <tr>
      <th scope="row">Ｆ:</th>
      <td><%= number_with_delimiter(@room.price6.floor) %>円</td>
    </tr>
    <tr>
      <th scope="row">宿泊可能人数:</th>
      <td><%= @room.peoplenb %>人</td>
    </tr>
    <tr>
      <th scope="row">部屋タイプ:</th>
      <td><%= @room.roomtype.name %></td>
    </tr>
  </table>


<%= link_to '編集画面', edit_room_path(@room) %> |
<%= link_to '部屋一覧表示へ', rooms_path %>

