<%= form_for(@product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= product.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <ul>
          <li><span><%= f.label "商品名:" %></span>
          <%= f.text_field :name, { class: "form-control"} %>
          </li>
          <li><span><%= f.label "商品種類:" %></span>
          <%= f.collection_select :productcategory_id, Productcategory.all, :id, :name, {:prompt => true}, { class: "form-select"} %>
          </li>
          <li><span><%= f.label "中分類:" %></span>
          <%= f.collection_select :producttype_id, @types, :id, :name, {:prompt => true}, { class: "form-select"} %>
          </li>
          <li><span><%= f.label "単価:" %></span>
          <%= f.text_field :price, { class: "form-price"} %>円
          </li>
      </ul>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn edit-btn" %>
  </div>

<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('#product_productcategory_id').change(function(){
      var category_id = $("#product_productcategory_id").val();
      $.get("<%= products_category_select_path %>",
        { category_id: category_id },
        function(data){ }
      );
    });
  });
</script>