<p id="notice"><%= notice %></p>

<h1>登録商品一覧</h1>

<table class="datalist">
  <thead>
    <tr>
      <th>商品種類</th>
      <th>中分類</th>
      <th>商品名</th>
      <th>単価</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td style="width:15%;"><%= product.productcategory.name %></td>
        <td style="width:15%;"><%= product.producttype.name %></td>
        <td style="text-align:left; width:41%;"><%= product.name %></td>
        <td style="text-align:right; width:15%;"><%= number_with_delimiter(product.price.floor) %></td>
        <td style="text-align:center; width:7%;"><%= link_to '編集', edit_product_path(product) %></td>
        <td style="text-align:center; width:7%;"><%= link_to '削除', product, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '商品を追加する', new_product_path %>
