<p id="notice"><% notice %></p>

<p>
  <strong>商品種類:</strong>
  <%= @product.productcategory_id %>
</p>

<p>
  <strong>商品中分類:</strong>
  <%= @product.producttype_id %>
</p>

<p>
  <strong>商品名:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>単価:</strong>
  <%= number_with_delimiter(@product.price.floor) %>
</p>


<%= link_to '編集画面へ', edit_product_path(@product) %> |
<%= link_to '商品一覧表示へ', products_path %>
