<!DOCTYPE html>
<html>
  <head>
    <title>Webkaikei5</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--
    %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    %= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
-->
  </head>

  <body>

     <header class="navbar">
       <div class="container">
         <div id="logo"><%= link_to "Webフロント会計", root_path %></div>
           <% if user_signed_in? %>
           <ul class="header-right">
             <li><%= link_to "御会計", invoices_path %></li>
             <li><%= link_to "商品登録", products_path %></li>
             <li><%= link_to "部屋登録", rooms_path %></li>
<!--             <li>%= link_to "ユーザー一覧", users_path %></li>-->
             <li><%= link_to current_user.name, current_user %></li>
             <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
           </ul>
           <% else %>
           <ul class="header-right">
             <li><%= link_to "新規登録", new_user_registration_path %></li>
             <li><%= link_to "ログイン", new_user_session_path %></li>
           </ul>
           <% end %>
       </div>
     </header>

     <div class="container">
      <p class="alert alert-success"><%= notice %></p>
      <p class="alert alert-danger"><%= alert %></p>
      <%= yield %>
     </div>

      <div class="container">
        <footer class="footer">
          <div class="small">
            北陸トスバック株式会社
          </div>
        </footer>
      </div>

  </body>
</html>
